* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* define font faces */
@font-face {
  font-family: PanchangB;
  src: url(/fonts/panchang/Panchang-Bold.otf);
  font-weight: 700;
}
@font-face {
  font-family: PanchangR;
  src: url(/fonts/panchang/Panchang-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: AeonikR;
  src: url(/fonts/aeonik/AeonikTRIAL-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: AeonikB;
  src: url(/fonts/aeonik/AeonikTRIAL-Bold.otf);
  font-weight: 700;
}

body {
  font-family: AeonikR;
  background-color: black;
  color: white;
  /* color: #ff39392a; */
}

a {
  text-decoration: none;
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

.hidden-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
